@media (max-width: 991px) {
  /* SECTION ONE */

  #section-one {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  #section-one .right-content {
    margin-top: 45px;
  }

  /* SECTION TWO */

  #section-two .box-info {
    padding: 25px 30px;
  }

  /* VISION */

  #section-two .vision .right-content {
    margin-top: 45px;
  }

  #section-two .vision {
    padding: 20px 0;
  }

  /* MISSION */

  #section-two .mission {
    flex-direction: column-reverse;
    padding: 20px 0;
  }

  #section-two .mission .left-content {
    margin-top: 45px;
  }

  /* VALUES */

  #section-two .values {
    padding: 20px 0;
  }

  #section-two .values .right-content {
    margin-top: 45px;
  }

  /* SECTION THREE */

  #section-three {
    padding: 60px 0;
  }

  #section-three .content-sec-three {
    flex-direction: column-reverse;
  }

  #section-three .left-content {
    margin-top: 45px;
  }

  /* SECTION FOUR */

  #section-four {
    padding: 60px 0;
  }
}

@media (max-width: 550px) {
  .banner {
    height: 90px;
  }
  
  /* SECTION ONE */

  #section-one .btn-know-more a {
    padding: 10px 20px;
  }

  /* SECTION TWO */

  #section-two .vision .btn-team a {
    padding: 10px 20px;
  }

  #section-two .mission .btn-team a {
    padding: 10px 20px;
  }

  #section-two .values .btn-team a {
    padding: 10px 20px;
  }

  /* SECTION FOUR */

  #section-three .btn-portfolio a {
    padding: 10px 20px;
  }

  /* SECTION FIVE */

  #section-four .btn-contact-us a {
    padding: 10px 20px;
  }
}
