@media (max-width: 1260px) {
  /* SECTION ONE */

  #section-one .overlay-text h2 {
    font-size: 38px;
    color: var(--white);
    margin-top: 15px;
  }
}

@media (max-width: 1199px) {
  /* SECTION THREE */

  #section-three .card {
    width: 270px;
    height: auto;
  }

  #section-three .card .title span {
    font-size: 18px;
  }

  #section-three .card .text {
    height: 220px;
  }
}

@media (max-width: 1024px) {
  /* SECTION FOUR */

  #section-four .swiper-slide img {
    width: 500px;
    height: 500px;
  }

  /* SECTION FIVE */

  #section-five .swiper-slide img {
    width: 500px;
    height: 500px;
  }

  /* SECTION SIX */

  #section-six .swiper-slide img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 991px) {
  /* TOP HEADER */

  .top-header {
    display: none;
  }

  /* HEADER */

  header {
    top: 0px;
  }

  /* SECTION ONE */

  #section-one .overlay-text {
    left: 52%;
    width: 75%;
  }

  #section-one .overlay-text h2 {
    font-size: 31px;
  }

  /* SECTION TWO */

  #section-two {
    padding: 40px 0;
  }

  #section-two .right-content {
    margin-top: 50px;
  }

  /* SECTION THREE */

  #section-three {
    padding: 40px 0;
  }

  #section-three .card {
    width: 100%;
  }

  /* SECTION FOUR */

  #section-four {
    padding: 40px 0;
  }

  /* SECTION FIVE */

  #section-five {
    padding: 40px 0;
  }

  /* SECTION SIX */

  #section-six {
    padding: 40px 0;
  }

  /* SECTION TESTIMONIALS */

  #section-testimonials {
    padding: 40px 0;
  }

  /* SECTION SEVEN */

  #section-seven {
    padding: 40px 0;
  }

  #section-seven .left-content {
    height: auto;
  }

  #section-seven .right-content {
    margin-top: 45px;
  }
}

@media (max-width: 768px) {
  #section-purpose .card {
    width: 100%;
  }

  #section-purpose .card .text {
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 735px) {
  #section-one .overlay-text {
    left: 55%;
    width: 80%;
  }

  #section-one .overlay-text h2 {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  #section-one .overlay-text h1 {
    font-size: 18px;
  }
  #section-one .overlay-text h2 {
    font-size: 22px;
  }

  #section-one .overlay-text {
    left: 51%;
    width: 90%;
  }

  #section-one .btn-contact-us a {
    padding: 10px 20px;
  }

  /* SECTION TWO */

  #section-two .btn-know-more a {
    padding: 10px 20px;
  }

  /* SECTION SIX */

  #section-six .btn-contact-us a {
    padding: 10px 20px;
  }
}

@media (max-width: 540px) {
  /* SECTION FOUR */

  #section-four .swiper-slide img {
    width: 380px;
    height: 380px;
  }

  /* SECTION FIVE */

  #section-five .swiper-slide img {
    width: 380px;
    height: 380px;
  }

  /* SECTION SIX */

  #section-six .swiper-slide img {
    width: 380px;
    height: 380px;
  }

  /* SECTION TESTIMONIALS */

  #section-testimonials .card .text {
    height: 310px;
  }
}

@media (max-width: 425px) {
  /* SECTION FOUR */

  #section-four .swiper-slide img {
    width: 320px;
    height: 320px;
  }

  /* SECTION FIVE */

  #section-five .swiper-slide img {
    width: 320px;
    height: 320px;
  }

  /* SECTION SIX */

  #section-six .swiper-slide img {
    width: 320px;
    height: 320px;
  }
}
