/* SECTION ONE */

#section-one {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#section-one .swiper {
  width: 100%;
  height: 100%;
}

#section-one .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-one .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #section-one .overlay-text {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: left;
  font-weight: bold;
  width: 60%;
}

#section-one .overlay-text h1 {
  font-size: 20px;
  color: var(--white);
}

#section-one .overlay-text h2 {
  font-size: 48px;
  color: var(--white);
  margin-top: 15px;
}

#section-one .overlay-text p {
  font-size: 16px;
  color: var(--white);
  margin-top: 15px;
} */

#section-one .btn-contact-us {
  margin-top: 45px;
}

#section-one .btn-contact-us a {
  color: var(--white);
  padding: 15px 25px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  font-weight: 550;
  border: none;
  border: 2px solid var(--white);
}

#section-one .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-one .btn-contact-us i {
  margin-left: 8px;
}

/* SECTION TWO */

#section-two {
  padding: 100px 0;
}

#section-two .content-sec-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#section-two .left-content .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-two .left-content p {
  margin-top: 20px;
}

#section-two .btn-know-more {
  margin-top: 45px;
}

#section-two .btn-know-more a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  font-weight: 550;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

#section-two .btn-know-more i {
  margin-left: 8px;
}

#section-two .btn-know-more a:hover {
  margin-left: 15px;
}

#section-two .swiper {
  width: 100%;
  height: 100%;
}

#section-two .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-two .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* SECTION PURPOSE */

#section-purpose {
  padding: 80px 0;
}

#section-purpose .content-sec-purpose{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#section-purpose .card{
  width: 320px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #f0f0f0;
  transition: 0.4s;
}

#section-purpose .card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#section-purpose .card .icon{
  height: 70px;
  display: flex;
  align-items: center;
}

#section-purpose .card .icon i{
  font-size: 38px;
}

#section-purpose .card .purpose{
  height: 50px;
  display: flex;
  align-items: center;
}

#section-purpose .card .purpose span{
  font-weight: bold;
  text-align: center;
}

#section-purpose .card .text{
  height: 450px;
}

#section-purpose .card .text p{
  font-size: 14px;
}

#section-purpose .card .text li{
  font-size: 14px;
  margin-top: 5px;
}

/* SECTION THREE */

#section-three {
  padding: 80px 0;
  background-image: url(/images/img-2.webp);
  background-color: #00000083;
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-three .title {
  text-align: center;
  color: var(--white);
}

#section-three .content-sec-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-three .content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

#section-three .content-card a {
  text-decoration: none;
}

#section-three .card {
  height: 300px;
  background: transparent;
  width: 340px;
  padding: 25px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-three .icon {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-three .icon i {
  color: var(--white);
  font-size: 70px;
}

#section-three .card .title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#section-three .card .title span {
  margin: 0;
  font-size: 24px;
  color: var(--white);
  font-weight: 550;
}

/* SECTION FOUR */

#section-four {
  padding: 60px 0;
}

#section-four .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-four .content-sec-four {
  margin-top: 30px;
}

#section-four .swiper {
  padding: 25px 0;
}

#section-four .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-four .swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-four .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-four .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-four .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-four .image-wrapper:hover::after,
#section-four .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-four .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-four .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

/* SECTION FIVE */

#section-five {
  padding: 80px 0;
  overflow-x: hidden;
}

#section-five .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-five .content-sec-five {
  margin-top: 30px;
}

#section-five .swiper {
  padding: 25px 0;
}

#section-five .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-five .swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-five .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-five .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-five .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-five .image-wrapper:hover::after,
#section-five .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-five .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-five .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

/* SECTION SIX */

#section-six {
  padding: 60px 0;
  overflow-x: hidden;
}

#section-six .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-six .content-sec-six {
  margin-top: 30px;
}

#section-six .swiper {
  padding: 25px 0;
}

#section-six .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-six .swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-six .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-six .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-six .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-six .image-wrapper:hover::after,
#section-six .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-six .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-six .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

/* SECTION TESTIMONIALS */

#section-testimonials {
  padding: 80px 0;
}

#section-testimonials .title {
  text-align: center;
}

#section-testimonials .content-sec-testimonials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 45px;
}

#section-testimonials .card {
  width: 560px;
  height: auto;
  background-color: #e9e9e9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease;
}

#section-testimonials .card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#section-testimonials .card .name {
  height: 40px;
  display: flex;
  align-items: center;
}

#section-testimonials .card .name span {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#section-testimonials .card .customer{
  height: 40px;
  display: flex;
  align-items: center;
}

#section-testimonials .card .customer span{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#section-testimonials .card .text{
  height: 220px;
  display: flex;
  align-items: center;
}

#section-testimonials .card .text p{
  margin: 0;
  text-align: center;
}

/* SECTION SEVEN */

#section-seven {
  padding: 80px 0;
}

#section-seven .content-sec-seven {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#section-seven .left-content {
  height: 700px;
}

#section-seven .left-content .title-sec {
  top: 160px;
  position: sticky;
  border-left: 4px solid var(--black);
  padding-left: 15px;
}

#section-seven .left-content .title-sec h3 {
  margin-top: 30px;
}

#section-seven .left-content p {
  margin-top: 20px;
}

#section-seven .left-content ul {
  padding: 0;
  margin-top: 20px;
}

#section-seven .left-content ul li {
  margin-top: 10px;
  list-style-type: none;
}

#section-seven .left-content ul li a {
  color: var(--black);
  text-decoration: none;
}

#section-seven .left-content ul li i {
  margin-right: 10px;
  font-size: 18px;
}

#section-seven .right-content form {
  margin-top: 40px;
  background-color: #e9e9e9;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-seven .right-content label {
  margin-top: 10px;
}

#section-seven .right-content input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #797979;
  border-radius: 5px;
}

#section-seven .right-content form span {
  color: red;
}

#section-seven .right-content select {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  color: var(--black);
}

#section-seven .right-content textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 8px;
}

#section-seven .right-content form button {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  font-weight: 550;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s ease;
}

#section-seven .right-content form button:hover {
  transform: scale(0.9);
}
