/* SECTION ONE */

#section-one {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#section-one .swiper {
  width: 100%;
  height: 100%;
}

#section-one .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-one .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}

#section-one .overlay-text {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: left;
  font-weight: bold;
  width: 60%;
}

#section-one .overlay-text h1 {
  font-size: 20px;
  color: var(--white);
}

#section-one .overlay-text h2 {
  font-size: 48px;
  color: var(--white);
  margin-top: 15px;
}

#section-one .overlay-text p {
  font-size: 16px;
  color: var(--white);
  margin-top: 15px;
}

#section-one .btn-contact-us {
  margin-top: 45px;
}

#section-one .btn-contact-us a {
  color: var(--white);
  padding: 15px 25px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  font-weight: 550;
  border: none;
  border: 2px solid var(--white);
}

#section-one .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-one .btn-contact-us i {
  margin-left: 8px;
}

/* SECTION TWO */

#section-two {
  padding: 100px 0;
}

#section-two .content-sec-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#section-two .left-content .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-two .left-content p {
  margin-top: 20px;
}

#section-two .btn-know-more {
  margin-top: 45px;
}

#section-two .btn-know-more a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  font-weight: 550;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

#section-two .btn-know-more i {
  margin-left: 8px;
}

#section-two .btn-know-more a:hover {
  margin-left: 15px;
}

#section-two .right-content img {
  border-radius: 10px;
}

/* SECTION THREE */

#section-three {
  padding: 80px 0;
  background-image: url(/images/img-2.webp);
  background-color: #0000009d;
  background-blend-mode: color;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-three .title {
  text-align: center;
  color: var(--white);
}

#section-three .content-sec-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-three .content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

#section-three .card {
  height: 100%;
  background-color: #ececec;
  width: 340px;
  padding: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-three .icon {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-three .icon i {
  color: var(--first-color);
  font-size: 50px;
}

#section-three .card .title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#section-three .card .title span {
  margin: 0;
  font-size: 24px;
  color: var(--black);
  font-weight: 550;
}

#section-three .card .text {
  height: 170px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#section-three .card .text p {
  margin: 0;
}

#section-three .card .btn-know-more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#section-three .card .btn-know-more a {
  padding: 10px;
  color: var(--white);
  background-color: var(--first-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 550;
  transition: 0.4s ease;
  border: 2px solid transparent;
}

#section-three .card .btn-know-more a:hover {
  transform: scale(0.9);
}

/* SECTION FOUR */

#section-four {
  padding: 60px 0;
  overflow-x: hidden;
}

#section-four .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-four .content-sec-four {
  margin-top: 30px;
}

#section-four .swiper {
  padding: 25px 0;
  overflow: visible;
}

#section-four .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-four .swiper-slide img {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-four .image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#section-four .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-four .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-four .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-four .image-wrapper:hover::after,
#section-four .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-four .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-four .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

/* SECTION FIVE */

#section-five {
  padding: 80px 0;
  overflow-x: hidden;
}

#section-five .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-five .content-sec-five {
  margin-top: 30px;
}

#section-five .swiper {
  padding: 25px 0;
  overflow: visible;
}

#section-five .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-five .swiper-slide img {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-five .image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#section-five .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-five .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-five .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-five .image-wrapper:hover::after,
#section-five .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-five .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-five .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

/* SECTION SIX */

#section-six {
  padding: 60px 0;
  overflow-x: hidden;
}

#section-six .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-six .content-sec-six {
  margin-top: 30px;
}

#section-six .swiper {
  padding: 25px 0;
  overflow: visible;
}

#section-six .swiper-slide {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-six .swiper-slide img {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

#section-six .image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#section-six .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

#section-six .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 550;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section-six .overlay-text p {
  margin-top: 20px;
  color: var(--white);
  font-size: 18px;
}

#section-six .image-wrapper:hover::after,
#section-six .image-wrapper:hover .overlay-text {
  opacity: 1;
}

#section-six .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#section-six .action .btn-group {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

/* SECTION DOUBTS */

#section-doubts {
  padding: 80px 0;
}

#section-doubts .title {
  text-align: center;
}

#section-doubts .content-sec-doubts {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

#section-doubts .accordion {
  margin: 0 auto;
}

#section-doubts .accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#section-doubts .accordion-header {
  width: 100%;
  background: #ececec;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  font-family: var(--title-font);
  color: #000000;
}

#section-doubts .accordion-header:hover,
.accordion-item.active .accordion-header {
  background-color: #e0e0e0;
}

#section-doubts .accordion-header .icon {
  transition: transform 0.3s;
}

#section-doubts .accordion-item.active .icon {
  transform: rotate(90deg);
}

#section-doubts .accordion-content {
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  background: #f1f1f1;
  transition: height 0.3s ease, padding 0.3s ease;
}

#section-doubts .accordion-content p {
  margin-bottom: 25px;
  font-family: var(--text-font);
}

#section-doubts .accordion-item.active .accordion-content {
  padding: 15px 20px;
}

/* SECTION SEVEN */

#section-seven{
  padding: 80px 0;
}

#section-seven .content-sec-seven{
  display: flex;
  flex-wrap: wrap;
}

#section-seven .left-content .title-sec{
  border-left: 4px solid var(--black);
  padding-left: 15px;
}

#section-seven .left-content p{
  margin-top: 20px;
}

#section-seven .left-content ul{
  padding: 0;
}

#section-seven .left-content ul li{
  margin-top: 10px;
  list-style-type: none;
}

#section-seven .left-content ul li i{
  margin-right: 10px;
  font-size: 18px;
}

#section-seven .right-content form {
  margin-top: 40px;
  background-color: #dfdfdf;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-seven .right-content label{
  margin-top: 10px;
}

#section-seven .right-content input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #797979;
  border-radius: 5px;
}

#section-seven .right-content form span {
  color: red;
}

#section-seven .right-content select {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  color: var(--black);
}

#section-seven .right-content textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 8px;
}

#section-seven .right-content form button {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  font-weight: 550;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s ease;
}

#section-seven .right-content form button:hover {
  transform: scale(0.9);
}

/* SECTION EIGHT */

#section-eight {
  padding: 80px 0;
  background-color: var(--white);
}

#section-eight .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-eight .content-sec-eight {
  margin-top: 30px;
}

#section-eight .btn-contact-us {
  margin-top: 40px;
}

#section-eight .btn-contact-us a {
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--first-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.4s ease;
  font-weight: 550;
}

#section-eight .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-eight .btn-contact-us i {
  margin-left: 10px;
}
