.banner {
  height: 130px;
  background-image: url(/images/img-banner.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000ae;
  background-blend-mode: color;
  display: flex;
  align-items: center;
  margin-top: 88px;
}

.banner .title {
  color: var(--white);
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

/* SECTION ONE */

#section-one {
  padding-top: 100px;
  padding-bottom: 200px;
}

#section-one .content-sec-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

#section-one .left-content .title {
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-one .left-content p {
  margin-top: 20px;
}

#section-one .btn-portfolio {
  margin-top: 40px;
}

#section-one .btn-portfolio a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.4s ease;
}

#section-one .btn-portfolio a:hover {
  margin-left: 15px;
}

#section-one .btn-portfolio i {
  margin-left: 10px;
}

#section-one .swiper {
  width: 100%;
  height: 100%;
}

#section-one .swiper-slide {
  background-position: center;
  background-size: cover;
}

#section-one .swiper-slide img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* SECTION TWO */

#section-two {
  padding: 100px 0;
  background-color: var(--bg);
}

#section-two .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-two .title {
  text-align: center;
  padding: 25px;
  background-color: var(--first-color);
  border-radius: 5px;
  color: var(--white);
  transform: translateY(-150px);
  background-color: var(--second-color);
}

#section-two .project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0;
}

#section-two .project ul {
  padding: 0px;
}

#section-two .project li {
  margin-top: 10px;
  list-style-type: none;
}

#section-two .project li i {
  margin-right: 10px;
  color: var(--first-color);
  font-size: 20px;
}

#section-two .project .swiper {
  width: 100%;
  height: 100%;
}

#section-two .project .swiper-slide {
  background-position: center;
  background-size: cover;
}

#section-two .project .swiper-slide img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#section-two .btn-contact-us {
  margin-top: 40px;
}

#section-two .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.4s ease;
}

#section-two .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-two .btn-contact-us i {
  margin-left: 10px;
}

#section-two .swiper {
  width: 100%;
  height: 100%;
}

#section-two .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-two .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-two .swiper {
  margin-left: auto;
  margin-right: auto;
}

/* SECTION THREE */

#section-three {
  padding: 100px 0;
}

#section-three .content-sec-three {
  margin-top: 30px;
}

#section-three .title{
  border-left: 4px solid var(--first-color);
  padding-left: 15px;
}

#section-three .btn-contact-us {
  margin-top: 40px;
}

#section-three .btn-contact-us a {
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--first-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.4s ease;
  font-weight: 550;
}

#section-three .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-three .btn-contact-us i {
  margin-left: 10px;
}
